# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.nupkg
project.lock.json
TestResults/

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Secrets
*.pfx
*.key
*.pem
appsettings.*.local.json

# Helm
deploy/charts/
*.tgz

# Build
out/
publish/
coverage/

.cursor
