apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "coordinate-service.fullname" . }}
  labels:
    {{- include "coordinate-service.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "coordinate-service.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - podSelector: {}
      ports:
        - protocol: TCP
          port: {{ .Values.service.containerPort }}
  egress:
    - to:
        - podSelector:
            matchLabels:
              app: postgres
      ports:
        - protocol: TCP
          port: 5432
    - to:
        - namespaceSelector: {}
      ports:
        - protocol: UDP
          port: 53
