replicaCount: 1

image:
  repository: coordinate-service
  pullPolicy: IfNotPresent
  tag: ""

nameOverride: ""
fullnameOverride: ""

environment: Production

service:
  type: ClusterIP
  port: 80
  containerPort: 8080

ingress:
  enabled: false
  className: ""
  annotations: {}
  host: coordinates.local
  tls: false

networkPolicy:
  enabled: false

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

secrets:
  postgresConnection: "Host=psql;Port=5432;Database=coordinates;Username=app;Password=app"
