environment: Development

replicaCount: 1

image:
  repository: coordinate-service
  pullPolicy: Never
  tag: local

service:
  type: NodePort
  port: 80
  containerPort: 8080

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 250m
    memory: 128Mi

secrets:
  postgresConnection: "Host=localhost;Port=5432;Database=coordinates;Username=app;Password=app"
