name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  docker-test:
    nem: Unit & Client tests (container)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up docker Buildx (bake)
        uses: docker/setup-buildx-action@v3

      - name: bake test image
        run: docker buildx bake test

      - name: run tests in container
        run: |
          mkdir -p test-results/unit tests-results/client
          docker run --name ci-tests coordinate-service:test || true
          EXIT=$(docker insptact ci-tests --format '{{.State.ExitCode}}')
          docker cp ci-tests:/src/test/CoodinateService.Tests/bin/Release/net10.0/TestResults/. test-results/uni/ 2>/dev/null || true
          docker cp ci-tests:/src/clients_test/CoodinateService.ClientTests/bin/Release/net10.0/testResults/. test-results/client/ 2>/dev/null || true
          docker rm ci-tests 2>/dev/null || true
          exit "$EXIT"

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: "test-results/**/*.trx"
  e2e:
    name: e2e (curl docker compose psql)
    runs-on: ubuntu-latest
    needs: docker-test
    steps:
      - uses: actions/checkout@v4

      - name: Start Services
        run: |
          docker compose -f docker/docker-compose.yaml up --build -d
      - name: wait for health check
        run: |
          for i in $(seq 1 15); do
            if curl -sf http://localhost:18080/healthz >/dev/null 2>&1; then break; fi
            echo " attempt $i..."
            sleep 2
          done
          curl -sf http://localhost:18080/healthz || exit 1

      - name: run e2e script
        run: bash scripts/e2e-test.sh

      - name: clean up Services
        if: always()
        run: docker compose -f docker/docker-compose.yaml down -v

  docker-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Lint Prod Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: docker/prod.Dockerfile

      - name: Lint Test Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: docker/test.Dockerfile

  helm-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Helm lint
        uses: azure/setup-helm@v4
      - run: helm lint deploy/ -f deploy/values/values.yaml
